* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
}

/* beginning of section */

.section-one {
  padding-bottom: 100px;
  width: 85vw;
  text-align: center;
  background-color: rgba(248, 221, 230, 0.623);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
/* header styling */

.todo-header {
  background-color: rgb(4, 4, 56);
  color: rgb(197, 216, 216);
  line-height: 6rem;
  width: inherit;
}
/* form styling */

#form-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85vw;
  padding: 50px 20px;
}
/* text input styling */

#todo-text {
  width: 400px;
  height: 70px;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
/* date and time input styling */

#add-time,
#add-date {
  height: 70px;
  width: 220px;
  font-size: 25px;
  margin-left: 40px;
}

/* add list styling */

#add-todo {
  height: 70px;
  width: 80px;
  font-size: 20px;
  margin-left: 40px;
}

/* all added list container */

.all-list-container {
  display: flex;
}

/* styling for the container with task names */

.todo-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* padding: 20px 50px; */
  width: 400px;
  list-style: none;
  font-size: 25px;
}

/* todo list style */

.todo-list {
  border: 1px solid rgb(4, 4, 56);
  border-bottom: 3px solid rgb(4, 4, 56);
  width: inherit;
  height: 70px;
  padding: 10px;
  padding-top: 20px;
  margin-top: 20px;
  /* vertical-align: middle; */
}

/* styling for the date and time list */
.add-time,
.add-date {
  border: 1px solid rgb(4, 4, 56);
  border-bottom: 3px solid rgb(4, 4, 56);
  width: inherit;
  height: 70px;
  padding: 20px 5px 10px 5px;
  margin-top: 20px;
  list-style: none;
  font-size: 25px;
  margin-left: 40px;
  width: 220px;
}

/* styling for cancelling tasks */

.cancel-todo {
  height: 70px;
  width: 80px;
  font-size: 20px;
  margin-left: 40px;
  list-style: none;
  border: 1px solid rgb(4, 4, 56);
  border-bottom: 3px solid rgb(4, 4, 56);
  padding: 10px;
  margin-top: 20px;
  font-size: 55px;
}
